* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 600px;
  margin: 20px;
}

div li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

div li+li {
  margin-top: 15px;
}

button {
  display: block;
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  transition: .2s all;
}

button:hover {
  transform: translateX(10px);
  transition: .2s all;
}

div > button {
  margin-bottom: 20px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}